*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#f5f5f1;
    font-family: arial, sans-serif;
    user-select: none;
}

header > section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    width: 600px;
    margin: 0 auto;
}

#titolo{
    margin: 2rem 0;
    align-self: center;
}

#sottotitolo{
    color: #6c6761;
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

section#container{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.card{
    width: calc((100% / 3) - 2rem);
    aspect-ratio: 1/1;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    background-color: white;
}

div.card > p:last-child{
    padding-bottom: 2rem;
    font-size: 1rem;
}

img{
    width: 100%;
    padding-bottom: 2rem;
}

p{
    color: #6c6761;
    font-size: 1.5rem;
}